@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

.landing {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: black;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing__title {
  font-size: 1.4rem;
  font-weight: 600;
}