@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 60vh;
  min-height: 360px;
  max-height: 720px;

  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.landing__header {
  height: 200px;
  background-size: cover;
  background-position: center center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__header > span { 
  background: black;
  color: white;
  padding: 0 16px;
}

.landing__image > img {
  width: 600px;
}

.landing__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.landing__selection {
  position: absolute;
  transition: all 0.3s ease;
}

.landing__category-title {
  background: black;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.landing__category-title:hover {
  background: white;
  color: black;
}

.landing__option {
  position: relative;
  top: 0;
  background: black;
  padding: 8px 16px;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

.landing__option:hover {
  background: white;
  color: black;
}

.landing__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: right;
  position: relative;
}

.landing__column--left {
  background-image: url('./../Resources/bg_left-col.jpg');
}

.landing__column--right {
  background-image: url('./../Resources/bg_right-col.jpg');
}