@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-bottom: 48px;
  border-bottom: 1px solid black;
}

.header__name {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.header__logo > img {
  min-height: 120px;
}

.header__logo {
  transition: all 0.3s ease;
  opacity: 0;
}

.fade-in {
  left: 0;
  opacity: 1;
}