@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');


.nav {
  width: 100%;
  background: black;
  font-family: 'Pragati Narrow', sans-serif;
  color: white
}

.nav__inner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  padding: 12px 0;
  display: flex;
}

.nav__logo:hover .nav__title {
  transition: all 0.3s ease;
  opacity: 0.6;
}

.nav__title {
  margin-left: 16px;
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: 700;
  padding: 12px 0;
}

.nav__leaf {
  max-width: 80px;
  max-height: 80px;
}

.nav__leaf > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .nav__db-info {
    display: none;
  }
}