.showcase__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 48px;
}

.showcase__name {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.showcase__descriptor {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.showcase__info {
  padding: 24px
}

.showcase__image {
  display: flex;
  justify-content: flex-end; /* Align to the Right */
  padding: 24px;
}

.showcase__image > img {
  max-height: 500px
}

.showcase__description {
  margin-top: 12px;
  max-width: 420px;
}

.showcase__link:hover {
  transition: all 0.3s ease;
  opacity: 0.5;
}